{% extends "Master/MenuBgTemplate.html.twig" %}

{% block body %}
    <div class="container">
        {% if fsc.datosArchivos %}
            {% for datos in fsc.datosArchivos %}
                <div class="card border-dark mb-3">
                    <div class="card-header">
                        {{ datos.fecha }}
                    </div>
                    <div class="card-body">
                        {{ datos.datos.message|raw|nl2br }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="{{ fsc.kernelVersion2024 ? 'bg-warning text-dark rounded' : 'text-white text-bg-warning rounded-5' }} text-center p-1">
                {{ trans('no-data') }}
            </div>
        {% endif %}
    </div>
{% endblock %}